@import url(/css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

/* ----------------------------------------------------------- */
body {
    background-color: #333;
    font-family: 'Open Sans', sans-serif;;
}
/* -----------------------------Цвет и Шрифт для сайта------------------------------ */

.form {
    max-width: 550px;
    margin: 0 auto;
    color: #fff;
    padding: 30px 0;
}
.form__body {
}

.form__body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    background: rgba(255, 255, 255, 1) url(/img/Loading_icon.gif) center / 250px no-repeat;
    opacity: 0;
    visibility: hidden;
}

.form__body._sending::after {
    opacity: 1;
    visibility: visible;
}

.form__title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}
.form__item {
    margin-bottom: 20px;
}
.form__label {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}
.form__input {
    height: 50px;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
    transition: all 0.3s;
}

.form__input:focus {
    box-shadow: 0 0 15px #7a956b;
}

.form__input._error{
    box-shadow: 0 0 15px red;
}

textarea.form__input {
    min-height: 120px;
    resize: vertical;
    padding: 20px;
}

.options {
    padding-top: 10px;
}
.options__item {
    margin-bottom: 10px;
}
.options__input {
    display: none;
}

.options__input:checked + .options__label::after {
    transform: scale(1);
}

.options__label {
    display: inline-flex;
    font-size: 16px;
    line-height: 140%;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.options__label::before {
    content: '';
    align-self: flex-start;
    flex: 0 0 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 10px;
}
.options__label::after {
    transition: transform 0.3s;
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    background-color: black;
    border-radius: 50%;
    transform: scale(0);
}
.select {
    height: 50px;
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
}
.file {
}
.file__item {
    position: relative;
}
.file__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    font-size: 0;
    cursor: pointer;
}
.file__button {
    display: inline-flex;
    min-height: 40px;
    border-radius: 30px;
    align-items: center;
    background-color: purple;
    padding: 0 20px;
}
.file__preview {
    display: inline-block;
    max-width: 100px;
    padding-top: 10px;
}
.file__preview img {
    max-width: 100%;
}
.checkbox {
}

.checkbox._error .checkbox__label::before {
    box-shadow: 0 0 15px red;
}
.checkbox__input {
    display: none;
}

.checkbox__input:checked + .checkbox__label::after {
    transform: scale(1);
}

.checkbox__label {
    position: relative;
    font-size: 16px;
    line-height: 140%;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.checkbox__label::before {
    content: '';
    align-self: flex-start;
    flex: 0 0 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 4px;
    margin-right: 10px;
}
.checkbox__label::after {
    transition: transform 0.5s;
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 4px;
    left: 4px;
    background-color: black;
    border-radius: 4px;
    transform: scale(0);
}

.form__button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    min-height: 60px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: 0 5px 0 rgb(5, 49, 5);
    transition: background-color 0.5s;
    position: relative;
    top: 0;
}

.form__button:hover {
    background-color: rgb(0, 66, 0);
}
.form__button:active {
    top: 3px;
    box-shadow: 0 2px 0 rgb(5, 49, 5);
}